
/** ADD YOUR AWESOME CODES HERE **/

#formLogin{
	margin: 10px 30px;
	padding: 10px;
}

.center{
	font-size: 20px;
	text-align: center;
	position: relative;
}

#login_size{
	position: relative;
	top:30px;
	left:0px;
	padding: 30px;
	padding-bottom: 100px;
	font-size: 20px;
}

#login{
	font-size: 50px;
}

#login_header{
	font-size: 12px;
}

.row new-account-login { 
	padding: 100px;
}

#left_menu{
	position: relative;
	top: 50px;
	padding: 30px;
	max-width: 250px;
	min-width: 250px;
	left: 100px;
	font-size: 20px;
}

#right_menu{
	position: relative;
	top:-100px;
	left:500px;
	padding: 30px;
	padding-bottom: 100px;
}

#right_menu td{
	padding: 30px;
	font-size: 20px;
	
}

#right_menu th{
	padding: 30px;
	font-size: 30px;
	font-weight: bold;
}

#page{
	position: relative;
	top: 100px;
}
#selectbtn input{
	top: -500px;
}

#write{
	padding-top: 80px;
	right: 0px;
	left:400px;
	position: relative;
}


#page{
	position: relative;
	left:500px;
}

#wr{
	position: relative;
	left:1000px;
}

#sq{
	
	margin-left: 10px;
}

#comment{
	position: relative;
	left:500px;
	margin-bottom: 100px;
	font-size: 20px;
}

#fileUploadForm{
	position: relative;
	left: 530px;
	top: 200px;
	font-size: 20px;
	z-index: 1;
}

#uploadBtn{
	position: relative;
	left: 500px;
}

#productForm{
	position: relative;
	left:500px;
	top:0px;
	padding: 30px;
	max-width: 1000px;
	font-size: 20px;
	z-index: 0;
}

#product_name{
	margin-bottom: 100px;
}

#shop_page{
	position: relative;
	margin-bottom: 50px;
	text-align: center;
}

#add{
	position: relative;
	left: 1400px;
	top: 50px;
}
#shop h1{
	position: relative;
	top:70px;
	left:400px;
}
#img_product{
	position: relative;
	top: 70px;
	left: 300px;
}

#order_btn{
	postion: realative;
	left: 1000px;
}

#id{
	max-width: 900px;
}
#check{
	position: relative;
	left: 950px;
	top: -40px;
	
}
#id_p{
	position: relative;
	top: 15px;
}